
# Distribution files 
dist/

# Git related folders
.git/
.github/

# VSCode folder/files
.vscode/
Pyne.code-workspace

# node_modules
node_modules/

# Rc files
.eslintrc
.prettierrc

# Ignore files
.eslintignore
.prettierignore
.gitignore

tsconfig.eslint.json