# Ignore a blackhole and the folder for development
node_modules/

# VSCode folders/files
.vs/
.vscode/
Pyne.code-workspace

.idea/
*.iml

# Distribution files 
dist/

# Lock file
pnpm-lock.ymal

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local